body{
    font-family: Roboto, sans-serif;
}

.navbar {
    background-color: #418ce1;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #418ce1;

}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produto .nav-link.active:hover {
    color: #fff;
}

.navbar-toggle{
    background-color: #f7f7fcf8;
}

.section-title {
    font-family: pacifico, cursive;
}

#sobre-a-loja, #produto {
    background-color: #f7f7fcf8;
}

.text-colored {
    color: #418ce1;
}

.nav-produto .nav-link.active,
#fale-conosco button {
    background-color: #418ce1;
    color: #fff;
}

.nav-produto .nav-link:hover {
    color: #418ce1;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}